# macOS cruft
.DS_Store

# Xcode build artifacts
DerivedData/
build/
**/*.moved-aside
**/*.xccheckout
**/*.xcscmblueprint
**/*.xcuserstate
**/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Copilot Instructions
.github/copilot-instructions.md
